@charset "UTF-8";

div{
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    
}
#d1{
    background-color: lightblue;
}

#d2{
    background-color: lightgoldenrodyellow;
}

#d3{
    background-color: lightsalmon;
}

div:hover{
    background-color: lightcoral;
}
