@charset "UTF-8";
 
/* em HTML é id = em CSS # (só pode um elemento)
em HTML é class = em CSS(Pode vários elementos) .*/
body{
    background-image: linear-gradient(to right,#034159, #025951, #02735E,#038C3E, #0CF25D);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #24b2eb;
}
#principal{
    text-align: center;
   
    color: black;
}

h2{
    color: #13d165;
}
.basico{
    color: #13d165;
    font-weight: bold;
}
.intermediario{
        color: rgb(145, 145, 66);
}
.avançado{
    color: lightcoral;
}
.destaque{
    background-color: lightgreen;
}